@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  @keyframes reverseScroll {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
  }

  .animate-scroll {
    display: flex;
    animation: scroll 30s linear infinite;
    animation-play-state: running; /* default */
  }

  .animate-reverse-scroll {
    display: flex;
    animation: reverseScroll  30s linear infinite;
    animation-play-state: running; /* default */
  }

/* .program-card:hover ~ .animate-scroll,
.program-card:hover {
  animation-play-state: paused !important;
} */
 .animate-scroll:hover {
  animation-play-state: paused !important;
}